@import 'tailwindcss';

@keyframes floatFade {
  0% {
    transform: translateY(3px);
    opacity: 1;
  }
  100% {
    transform: translateY(-3px);
    opacity: 0;
  }
}
.animate-float-fade {
  animation: floatFade 1s ease-out forwards;
}
